#mapwrap {
width: 100%;
top: 48px;
left: 0;
bottom: 0;
right: 0;
float: left;
position: fixed;

            }

#map {
float: left;
width: 100%;
height: 100%;
}

#timepicker{
margin-top: 8px;
margin-bottom: -8px;
margin-right: 8px;
}

#sidebar{
	margin-right: 20px;
}
#text{
	border:solid;
	border-right:#333;
	
}

